@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

*{
    font-family: 'Chakra Petch', sans-serif;
}
#profile_pic{
    height: 130px;
    width: 130px;
    object-fit: cover;
}