<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/app/static/images/favicon.ico" type="image/x-icon">
    <!-- stylesheet -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>NeighbourHood</title>
</head>
<body>
    
    {% block content %}

    {% endblock content %}
    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js" integrity="sha512-Wq5ip5NUbm4Ka2BqR/KkJIJdRFQAdpVluNIENMHHPJysUkBtIR1MmqKu2tfPZvuJdm4q5/KQDgqLSR6BL23pFw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>