{% extends 'base.html' %}
{% load static %}

{% block content %}
<h4 class="text-center mt-3 mb-3 text-black" id="top-heading">Top NeighbourHood Trends & News Alerts </h4>
<div class="container-fluid p-3">
    <div class="row" id="news">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                    <img src="{{post.post_image.url}}" class="img-fluid" id="contain" />
                    <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title" id="title-card">{{post.title}}</h5>
                    <p class="card-text" id="description-post">{{post.post_description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}