{% extends 'base.html' %}
{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center" id="login-page">
    <div class="card col-md-5 mx-auto login-card">
        <form action="" method="POST">
            {% csrf_token %}
            <!-- username input -->
            <div class="form-outline mb-4">
                <input type="text" id="username" name="username" class="form-control" />
                <label class="form-label" for="Username" id="username-label">Username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control" name="password" />
                <label class="form-label" for="password" id="password-label">Password</label>
            </div>


            <!-- Submit button -->
            <button type="submit" class="btn  btn-block mb-4" id="login-btn">Log In </button>

            <!-- Register buttons -->
            <div class="text-center">
                <p class="membership">Not a member? <a href="{% url 'register' %}">Register</a></p>
                <p class="membership">or sign up with:</p>
                <!-- Facebook -->
                <a class="btn text-white" style="background-color: #3b5998;" href="#!" role="button">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Google -->
                <a class="btn text-white" style="background-color: #4c75a3;" href="#!" role="button">
                    <i class="fab fa-google"></i>
                </a>

                <!-- Twitter -->
                <a class="btn text-white" style="background-color: #55acee;" href="#!" role="button">
                    <i class="fab fa-twitter"></i>
                </a>

            </div>
        </form>
    </div>
</div>

{% endblock content %}