<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" id="nav-bar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" >
      <i class="fas fa-home fa-2x mx-3 ps-1" id="icon"></i>
    </a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="me-3">
        <div class="form-white input-group" style="width: 250px;">
          <input type="search" class="form-control rounded" placeholder="Search business..."
            aria-label="Search" aria-describedby="search-addon"  name="search"/>
        </div>
      </form>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_post' %}" id="nav-link">Add Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'hoods' %}" id="nav-link">NeighbourHoods</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="nav-link">Businesses</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex flex-row ms-auto me-3">
        <li>
          <a href="{% url 'login' %" class="nav-link  btn btn-info btn-rounded " id="login-btn">Login</a>
        </li>
        <li>
          <a href="{% url 'register' %" class="nav-link  btn btn-light btn-rounded " id="register-btn">Register</a>
        </li>
        <li class="nav-item me-3 me-lg-0 dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-plus"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'business' %}"> Add Business</a></li>

            <li><a class="dropdown-item" href="{% url 'add_post' %}">Add Post</a></li>

            <li><a class="dropdown-item" href="{% url 'neighbourhood' %}">Add Neighbourhood</a></li>

            <li><a class="dropdown-item" href="{% url 'hoods' %}">NeighbourHoods</a></li>

            <li>
              <hr class="dropdown-divider" />
            </li>
          </ul>
        </li>
        <li class="nav-item me-3 me-lg-0 dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-mdb-toggle="dropdown"
            aria-expanded="false">
            <img src="{{request.user.profile.profile_pic.url}}" class="rounded-circle"
              alt="logo" loading="lazy" id="logo"/>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown1">
            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'update' %}">Update Profile</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->