{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
<div class="row my-3 p-3">
    <h4>Welcome {{user.username}}</h4>
</div>

<div class="container">

    <div class="col-md-7 shadow-lg mx-auto p-4">
        <div class="row mt-4">
            <div class="col-md-4">
                <img src="{{request.user.profile.profile_pic.url}}" class="rounded-circle"
                    alt="{{request.user.username}}" id="profile_pic">
            </div>
            <div class="col-md-6">
                <h5 class="ms-2 under-line">USER NAME:{{request.user.username}}

                </h5>

                <h5 class="under-line">Full Name: {{request.user.first_name}} {{request.user.last_name}}</h5>
            </div>


        </div>
        <hr>
        <p class="about">About Me</p>

        <p class="about-next">{{request.user.profile.about_me}}</p>

        <p class="location_profile">Location</p>

        <p class="loc-profile">{{request.user.profile.location}}</p>
        <p class="text-center ">
            <a href="{% url 'update' %}"><button type="button" class="btn  mx-5" id="edit-profile"><i
                        class="fa-solid fa-pen-to-square"></i>Edit profile</button></a>

            <a href="{% url 'home' %}"><button type="button" class="btn "id="back-home"><i
                        class="fa-solid fa-angles-left"></i>Back Home</button></a>
        </p>

    </div>

</div>


{% endblock content %}