{% extends 'base.html' %}
{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center" id="register-page">
  <section class="mb-5">

    <div class="col-md-12 card p-5 ">
      <h4 class="mb-4 text-center">
        <strong >Sign-up With The NeighbourHood</strong>
      </h4>

      <form action="{% url 'register' %}" method="POST">

        {% csrf_token %}

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" id="first_name" name="first_name" class="form-control" />
              <label class="form-label fs-4" for="form3Example1">First name</label>
            </div>
          </div>

          <div class="col">
            <div class="form-outline">
              <input type="text" id="last_name" name="last_name" class="form-control" />
              <label class="form-label fs-4" for="form3Example2">Last name</label>
            </div>
          </div>

          <div class="col">
            <div class="form-outline">
              <input type="text" id="username" name="username" class="form-control" />
              <label class="form-label fs-4" for="form3Example2">Username</label>
            </div>
          </div>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="email" name="email" class="form-control fs-3" />
          <label class="form-label fs-3" for="form3Example3">Email address</label>
        </div>

        <div class="row mb-4 passwords">
          <!-- Password input -->
          <div class="col">
            <div class="form-outline">
              <input type="password" id="password" name="password1" class="form-control" />
              <label class="form-label fs-4" for="form3Example4">Password</label>
            </div>
          </div>

          <!-- password2  -->
          <div class="col">
            <div class="form-outline">
              <input type="password" id="password2" name="password2" class="form-control" />
              <label class="form-label fs-4" for="form3Example4">Verify password</label>
            </div>
          </div>

        </div>



        <!-- Submit button -->
        <button type="submit" class="btn btn-info btn-block mb-4" id="create-account">
          Sign up With The Neighbourhood   <i class="fa-solid fa-right-to-bracket"></i>
        </button>

        <!-- Register buttons -->
        <div class="text-center">
          <p class="sign">or sign up with:</p>
          <!-- Facebook -->
          <a class="btn text-white" style="background-color: #3b5998;" href="#!" role="button">
            <i class="fab fa-facebook-f"></i>
        </a>

        <!-- Google -->
        <a class="btn text-white" style="background-color: #4c75a3;" href="#!" role="button">
            <i class="fab fa-google"></i>
        </a>

        <!-- Twitter -->
        <a class="btn text-white" style="background-color: #55acee;" href="#!" role="button">
            <i class="fab fa-twitter"></i>
        </a>
        </div>
      </form>
    </div>

  </section>
</div>

{% endblock content %}