{% extends 'base.html' %}
{% block content%}
<div class="container-fluid" id="body">
  <div class="row">
    <div class="col-md-12">
      <section class="my-5">
        <div class="card my-card">
          <div class="card-body d-flex flex-row">
            <div>
              <h4 class="card-title mb-1" id="name-neighbourhood">Neighbourhood Name: {{neighbourhood.name}} </h4>
            </div>
          </div>
          <p class="px-4 pb-4 text-describe">{{neighbourhood.describe}}</p>
          <div class="row">
            <div class="n-details">
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                  <div class="card card-1">
                    <div class="card-body">
                      <h5 class="card-title my-title">County</h5>
                      <p class="card-text title-text"> <i class="fa-solid fa-location-dot"></i>
                        {{neighbourhood.neighbourhood_location}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="card card-1">
                    <div class="card-body">
                      <h5 class="card-title my-title">Health Helpline</h5>
                      <p class="card-text title-text"><b><i class="fa-solid fa-phone"></i>
                          {{neighbourhood.health_contacts}}</b></p>

                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="card card-1">
                    <div class="card-body">
                      <h5 class="card-title my-title" id="my-title">Police Helpline</h5>
                      <p class="card-text title-text"><i class="fa-solid fa-phone"></i>
                        {{neighbourhood.police_contacts}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2">
                  <p class="mx-auto mt-3">
                    <a href="{% url 'business' neighbourhood.id %}" class="btn business-btn-create">Create Neighbourhood
                      Business</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    </section>
  </div>
</div>
</div>

<div class="row">
  <h4 class="text-center heading">Featured Neighbourhood Businesses</h4>
  {% for business in businesses %}
  <div class="col-md-4">
    <div class="card">
      <img src="{{business.business_image.url}}" class="card-img-top" alt="{{business.business_name}}" />
      <div class="card-body">
        <p class="biz-name">Business Name</p>

        <p class="card-title bus-name ">{{business.business_name}}</p>
        <hr>
        <p class="email">Business mail</p>
        <p class="card-text mail">{{business.business_email_address}}</p>
      </div>
    </div>
  </div>
  {% endfor %}

</div>

<div class="row pt-5">
  <h4 class=" text-center heading">Featured Neighbourhood Posts, Gossips, Trends And Highlights..</h4>
  {% for post in posts %}
  <div class="col-md-4">
    <div class="card">
      <img src="{{post.post_image.url}}" class="card-img-top" alt="{{business.business_name}}" />
      <div class="card-body">
        <p>Highlights</p>
        <p class="card-title">{{post.title}}</p>
        <hr>
        <p class="card-text">{{post.post_description}}</p>
        <small class="float-right">{{post.posted_on}}</small>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
</div>


{% endblock content%}